<!-- Header -->
<header>
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <img src="/images/ME.png" alt="Your Name" class="profile-pic">
      </div>
      <div style="max-width: 100vw">
        <h1 class="logo pt-4">Irene Therese Bermejo Patacsil</h1>
        <p class="pb-3">I thrive on challenges, problem-solving, and collaborative learning.
          My passion lies in leveraging technology and data to drive innovation and positively impact others.</p>
        <!-- Social Links -->
        <div class="social-links d-flex flex-wrap ">
          <a class="my-1" href="https://www.linkedin.com/in/irenetherese/" target="_blank">
            <i class="bi bi-linkedin"></i><span class="mx-1">LinkedIn</span>
          </a>
          <a class="my-1 mx-4" href="https://medium.com/@theabermejo_46606" target="_blank">
            <i class="bi bi-globe"></i><span class="mx-1">Medium</span>
          </a>
          <a class="my-1" href="mailto:theabermejo@gmail.com">
            <i class="bi bi-envelope-fill"></i><span class="mx-1">{{"theabermejo@gmail.com"}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<body class="d-flex flex-1 flex-column py-4">
 <router-outlet></router-outlet>
</body>

<!-- Footer -->
<footer>
  <div class="container">
    <p>&copy; 2024 Irene Therese Bermejo Patacsil.</p>
  </div>
</footer>