<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <h1 class="header">
            Data Science Projects <i class="bi bi-bar-chart" style="margin-right: 10px;"></i>
        </h1>
        <hr>
        <div class="portfolio-items">
            <!-- Repeat this block for each project -->
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let project of projects; let i = index">
                    <div class="card h-100" (click)="navigateToProject(project.link)">
                        <img class="card-img-top project-image" src="{{ project.image }}" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <p class="card-text author"><small><em>Co-Authors: {{ project.co_authors.join(', ') }}</em></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>