<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <hr>
        <div class="portfolio-items">
            <!-- Repeat this block for each project -->
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let project of projects; let i = index">
                    <div class="card h-100" (click)="navigateToProject(project.link)">
                        <img class="card-img-top project-image" src="{{ project.image }}" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">
                                <span>{{ project.description }}</span>
                                <br>
                                <button class="btn btn-link p-0 mb-1" type="button"
                                    (click)="$event.stopPropagation(); project.showDetails = !project.showDetails">
                                    {{ project.showDetails ? 'See less' : 'See more details' }}
                                </button>
                                <br>
                                <span *ngIf="project.showDetails">{{ project.description_long }}</span>
                            </p>
                            <p class="card-text author"><small><em>Co-Authors: {{ project.co_authors.join(', ')
                                        }}</em></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>